*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgb(47, 47, 47);
}

body {
  margin: auto;
  box-sizing: border-box;
  max-width: 144rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
@import "../base/custom-scroll";
@import "../base/vars";
@import "../base/desktop/navbar";
@import "../base/desktop/section";
@import "../base/mobile/navbar";
@import "../base/animation/animation-mobile";
@import "../base/desktop/project-cards";
@import "../base/desktop/promo-section";
@import "../base/tablet/navbar";
