*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  background-color: #161616;
}

body {
  font-family: "Poppins", sans-serif;
  margin: auto;
  box-sizing: border-box;
  max-width: 200rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

// OTHER
@import "../base/custom-scroll";
@import "../base/vars";
// DESKTOP
@import "../base/desktop/navbar";
@import "../base/desktop/section";
@import "../base/desktop/promo-section";
@import "../base/desktop/project-cards";
@import "../base/desktop/footer";
@import "../base/desktop/skills";
@import "../base/desktop/loading";
// MOBILE
@import "../base/mobile/navbar";
// ANIMATION
@import "../base/animation/animation-mobile";
// TABLET
@import "../base/tablet/navbar";
// FONTS
