@media screen and (max-width: 35em) {
  #section {
    background-image: url("../../../img/2.jpeg");
    background-size: cover;
    height: calc(100vh - 5rem);
    width: 100vw;
    background-position: center;
  }
}
