@media screen and (max-width: 35em) {
  #section {
    height: 100vh;
    position: relative;

    .hero-section {
      .text-1 {
        margin-left: 4rem;
        margin-top: 10rem;
        letter-spacing: 2rem;
        font-size: 6rem;
        -webkit-text-stroke: 0.1rem $light-gray;
      }
      .text-2 {
        margin-left: 4rem;
        font-size: 5rem;
        letter-spacing: 0;
        -webkit-text-stroke: 0.1rem $light-gray;
      }

      .titles {
        max-width: 100%;
        left: 0;
        margin-left: 2rem;
        bottom: 20rem;
        position: absolute;
        h1 {
          font-size: 3rem;
        }

        h2 {
          line-height: 3rem;
          font-size: 2rem;
          overflow: visible;
        }
      }
    }

    #photo {
      height: 100%;
      width: 100%;

      right: 0;
      bottom: 0;
    }
  }
}
