.nav {
  font-family: "Poppins";
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  height: 8rem;
  max-width: 100%;
  position: fixed;
  background-color: transparent;
  position: relative;

  .desktop-menu {
    right: 2rem;
    top: 3rem;
    position: absolute;
    display: flex;
    gap: 2rem;
    align-items: center;
    li {
      list-style: none;
      &:hover {
        background-color: #191516;
        scale: 1.2;
        transition: all 0.3s ease-in-out;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      border: 0.3rem solid $light-green;
      padding: 0.4rem 2rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .menu {
    display: none;
    gap: 1rem;
    align-items: center;
    a {
      text-decoration: none;
      color: $light-green;
      border: 0.2rem solid $light-green;
      padding: 0.4rem 1.4rem;
      border-radius: 0.8rem;
      font-weight: bold;
      &:hover {
        background-color: #191516;
        scale: 1.1;
      }
    }
  }
}

.logo {
  height: 7rem;
  width: 7rem;
}

.toggle-menu,
.close-btn {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  a {
    text-decoration: none;
    color: $light-green;
    border: 0.2rem solid $light-green;
    padding: 0.4rem 1.4rem;
    border-radius: 0.8rem;
    font-weight: bold;
    &:hover {
      background-color: #191516;
      scale: 1.1;
    }
  }
}
