.promo-section {
  padding-top: 9rem;
  background-color: $light-gray;
  height: 60rem;
  color: #1c1c1c;

  .text-animation {
    position: relative;
    display: flex;
    font-size: 15rem;
    padding: 0;
    line-height: 0.8;
    overflow: hidden;
    padding-bottom: 0.5vw;
  }
}

.letter {
  &:before {
    content: attr(data-char);
    position: absolute;

    transform: translateY(-105%);
  }
}
