.swiper {
  height: 70rem;
  width: 70%;

  h2 {
    color: #fff;
  }
  .swiper-wrapper {
    text-align: center;
    position: relative;

    .swiper-slide {
      margin-top: 1rem;
      background-color: $light-gray;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;

        object-fit: cover;
      }
      i {
        color: #ec9b05;
      }
    }
  }
}
