.swiper {
  background-color: $light-gray;
  height: 92rem;
  // overflow: hidden;
  h2 {
    color: #fff;
  }
  .swiper-wrapper {
    // display: grid;
    // gap: 2rem;
    // grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // place-items: center;
    text-align: center;

    .swiper-slide {
      margin-top: 6rem;
      border-radius: 0 0 2rem 2rem;
      background-image: linear-gradient(
        to top,
        #232629,
        #232629,
        #00163c,
        #001854,
        #161267
      );

      i {
        color: #ec9b05;
      }
    }
  }

  // .swiper-button-next {
  //   color: #fff;
  // }
  // .swiper-button-prev {
  //   color: #fff;
  // }
}
