.swiper {
  height: 70rem;
  width: 70%;

  h2 {
    color: #fff;
  }
  .swiper-wrapper {
    text-align: center;
    position: relative;

    .swiper-slide {
      margin-top: 1rem;
      background-color: $light-gray;
      overflow: hidden;
      color: $footer-blue;

      &:nth-child(3) {
        background: no-repeat center center/cover
          url("https://lh4.googleusercontent.com/fkqI8083cHGOl68pWNR-QkgkZhyYTJ9gaELoMyyzbgH2Ad5awViVCbCbX53M6_O9hFaTZgl4dp2JDRbd2kEjsxdkcrFz-JT7eHvqeUB14mFufPnzRKz_Kfi0VvVXYKiM59ayi2XW");
        filter: brightness(95%);

        span {
          position: absolute;
          right: 4rem;
          top: 2rem;
        }
      }
      img {
        z-index: -2;
        height: 100%;
        width: 100%;
        object-fit: cover;

        //
      }
      i {
        color: #ec9b05;
      }
    }
  }
}

// BTN

.btn-source {
  background-color: $footer-blue;
  color: #fff;
  padding: 1.5rem 3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-demo {
  background-color: $light-green;
  color: $footer-blue;
  padding: 1.5rem 3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 2rem;
}
