#section {
  background: linear-gradient(rgba(36, 32, 32, 0.5), rgba(83, 72, 72, 0.5)),
    url("../../img/1.jpeg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80rem;
  position: relative;
}
.watermark {
  color: $light-green;
  display: flex;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  flex-direction: column;
  opacity: 0.1;
  font-family: "Princess Sofia";

  .text-1 {
    letter-spacing: 2rem;
    font-size: 16vw;
  }
  .text-2 {
    font-size: 10vw;
    letter-spacing: 0;
  }
}
