#section {
  height: 80rem;
  position: relative;
}

.hero-section {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  font-weight: bold;

  .text-1 {
    letter-spacing: 2rem;
    font-size: 12vw;
    -webkit-text-stroke: 0.3rem $light-gray;
  }
  .text-2 {
    font-size: 6vw;
    letter-spacing: 0;
    -webkit-text-stroke: 0.3rem $light-gray;
  }

  .titles {
    margin-left: 4rem;
    max-width: 40%;
    h1 {
      font-size: 3vw;
      color: #fff;
    }

    h2 {
      line-height: 7rem;
      font-size: 2vw;
      color: #fff;
    }
  }
}

#photo {
  right: 2rem;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  img {
    height: 90vh;
    max-width: 80rem;
    // transform: translateY(-100rem);
  }
}
