#skills {
  width: 100%;
  height: 36vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  li {
    height: 90%;

    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 5rem;
    img {
      height: 20rem;
    }
  }
}
#skills-icon {
  background-color: #fff;
}
#skills-icon-next {
  background-color: #fff;
  justify-content: center;
}
#skills-wrapper {
  align-items: center;
  height: inherit;
  width: 80vw;
}
