@media screen and(min-width: 35em) and (max-width: 60em) {
  .logo {
    margin-top: 8rem;
    z-index: 5;
  }
  .nav {
    background-color: rgba(0, 0, 0, 0.2);
    // width: inherit;
    position: relative;

    .desktop-menu {
      min-width: 75vw;
      li {
        a {
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@import "./section";
@import "./footer";
@import "./project-cards";
