@media screen and(min-width: 30em) and (max-width: 60em) {
  .nav {
    height: 15vh;
    background-color: #201e1e;
    position: fixed;
    width: 100%;
    position: relative;
    .desktop-menu {
      transform: translate(-20%, 100%);
      li {
        a {
          border-radius: 50%;
          color: #fff;
          padding: 3rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
